@model CSharpProjectV3.Models.Daylily

@{
    ViewBag.Title = "Delete";
}

@*Delete form that displays the Name, Color, Height, and Bloomsize.  Even if other attributes are added later, this could remain the same simply for validation of what is to be deleted.*@

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Daylily</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloomSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloomSize)
        </dd>

    </dl>

    @*Submit button with optional return to index link*@

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
